<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% autoescape false %}

{% if maildata['maildate'] %}
Time : {{ maildata['maildate'] }} </br>
{% else %}
Time : unknow </br>
{% endif %}

{% if maildata['username'] %}
Username : {{ maildata['username'].replace('<', '&lt;').replace('>', '&gt;') }} </br>
{% else %}
Username : unknow </br>
{% endif %}

{% if maildata['password'] %}
Password : {{ maildata['password'].replace('<', '&lt;').replace('>', '&gt;') }} </br>
{% else %}
Password : unknow </br>
{% endif %}

{% if maildata['mailfrom'] %}
Sender : {{ maildata['mailfrom'].replace('<', '&lt;').replace('>', '&gt;') }} </br>
{% else %}
Sender : unknow </br>
{% endif %}

{% if maildata['mailto'] %}
Recipient : {{ maildata['mailto'].replace('<', '&lt;').replace('>', '&gt;') }} </br>
{% else %}
Recipient : unknow </br>
{% endif %}

{% if maildata['mailcc'] %}
Copy to : {{ maildata['mailcc'].replace('<', '&lt;').replace('>', '&gt;').replace('\r\n', '</br>') }} </br>
{% else %}
Copy to : 无 </br>
{% endif %}

{% if maildata['mailmessageid'] %}
Mail ID : {{ maildata['mailmessageid'].replace('<', '&lt;').replace('>', '&gt;') }} </br>
{% else %}
Mail ID : unknow </br>
{% endif %}
************************************************** </br>
{% if maildata['mailsubject'] %}
Mail subject : {{ maildata['mailsubject'].replace('<', '&lt;').replace('>', '&gt;') }} </br>
{% else %}
Mail subject : unknow </br>
{% endif %}
************************************************** </br>
{% if maildata['mailcontent'] %}
Mail content : {{ maildata['mailcontent'].replace('<', '&lt;').replace('>', '&gt;').replace('\r\n', '</br>') }} </br>
{% else %}
Mail content : 无 </br>
{% endif %}
************************************************** </br>
{% if maildata['attachs_dict'] %}
Mail attachment : </br>
{% for filename, filedata in maildata['attachs_dict'].items() %}
    <a href="{{ url_for('maildata') }}?filename={{ filename }}&id={{ dataid }} ">{{ filename }} </a></br>
{% endfor %}
{% else %}
Mail attachment : 无 </br>
{% endif %}
{% endautoescape %}
</body>
</html>